:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fbfafc;
  background-image: url('./assets/img/fondot.png');
  background-size: cover;
  background-attachment: fixed;
  color: #1c7bad
  
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #185474;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


li {
  list-style: none;
}

input, textarea{
  border-radius: 10px;
  padding: 5px 10px;
  border : 1px solid #1c7bad;
  color: #1c7bad;  
  background-color: #fbfafc;
}




select{
  border-radius: 10px;
  padding: 5px 10px;
  border : 1px solid #1c7bad;
  color: #1c7bad;
}

.logoHome{
  width: 100px;
  height: 100px;
}


